@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<div>
    George Mason University<br />
    4400 University Drive<br />
    Fairfax, Virginia 22030<br />
    Tel: +1(703)993-1000
</div>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12432.546598926849!2d-77.31002135343819!3d38.82933119927292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b64e607b427ebd%3A0xd766a653e6557544!2sGeorge%20Mason%20University!5e0!3m2!1sen!2sus!4v1638642211739!5m2!1sen!2sus" height="450" style=" width: 100%; border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>