body {
    padding-top: 80px;
    font-family: 'Open Sans',Verdana,Geneva,sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer{
    width: 100%;
    background-color: #222222;
}
.custom-footer {
    color: #ffffff;
    width: 100%;
    height: auto;
    
}

.gmuinfo {
    padding-bottom: 65px;
}

#gmuyellow{
    color: #fc3;
}

.custom-navbar {
    background-color: #006940;
}

.custom-navbar a {
    color: white;
}

.custom-navbar .nav a:hover {
    color: #08975f;
    background-color: transparent;
    text-decoration: none;
}